<div class="row">
    <div class="col-md-4" *ngFor="let car of cars">
        <div class="card" style="width: 18rem;">
            <img src="https://localhost:44388/Images/{{car.imagePath}}" alt="aa">
            <div class="card-body">
                <h4 class="card-title text-center">{{car.brandName |uppercase}} </h4>
                <h6 class="text-center">{{car.carName}} </h6>
            </div>
            <ul class="list-group list-group-flush text-center text-bolder">
                <li class="list-group-item"><i><b>Renk</b></i> | {{car.colorName}}</li>
                <li class="list-group-item"><i><b>Model Yılı</b></i> | {{car.modelYear}}</li>
                <li class="list-group-item"><i><b>Günlük Fiyat</b></i> | {{car.dailyPrice}}</li>
            </ul>
        </div>
        <br>
    </div>
</div>